<div class="container">
    <%= debug session[:cart] %>
<table>
  <% session[:cart].each do|id, quantity| %>
    <% item = Product.where(:id => id).first %>
    <tr>
       <td><%= item.name %></td>
    </tr>
    <% end %>
</table>
</div>
