<html>
<body>
<div class="container" style="padding-top: 20px">
  <h1>Contact Us</h1>
  <p>Phone: <%=@about.number%></p>
    <p>Email: <%=@about.email%></p>
      <p>Address: <%=@about.address%></p>

</div>
</body>
</html>
